# Django 密钥 (生产环境要改复杂点)
SECRET_KEY=django-insecure-nexus-ai-project-key-123456
DEBUG=True

# 数据库配置 (对应 docker-compose.yml)
DB_NAME=nexus_kb_db
DB_USER=nexus_user
DB_PASSWORD=nexus_password
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis 配置
REDIS_URL=redis://127.0.0.1:6379/0


DEEPSEEK_API_KEY=你的deepseek的api

TAVILY_API_KEY=你的tavily的api